In [2]:
list_ = ['한지민', 25, 78, 34]
dir(list_)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
list_ = ['한지민', 25, 78, 88, 95]
dir(list_)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
tot = list_[2] + list_[3] + list_[4]
avg = tot / 3.
grade = None
if 90 <= avg <= 100 : grade = 'A'
elif 80 <= avg < 90 : grade = 'B'
elif 70 <= avg < 80 : grade = 'C'
elif 60 <= avg < 70 : grade = 'D'
else : grade = 'F'
list_.append(tot)
list_.append(avg)
list_.append(grade)

In [6]:
print(list_)

['한지민', 25, 78, 88, 95, 261, 87.0, 'B', 261, 87.0, 'B']

In [7]:
student_ =[]
name = input('Name : ')
student_.append(name)
kor = int(input('Korean : '))
student_.append(kor)
eng = int(input('Ennglish : '))
student_.append(eng)
math = int(input('Math : '))
student_.append(math)
print(student_)

Name : juyeong
Korean : 95
Ennglish : 100
Math : 30
['juyeong', 95, 100, 30]

In [8]:
student_ =[]
name = input('Name : ')
student_.append(name)
kor = int(input('Korean : '))
student_.append(kor)
eng = int(input('English : '))
student_.append(eng)
math = int(input('Math : '))
student_.append(math)
print(student_)

Name : jk
Korean : 90
English : 85
Math : 77
['jk', 90, 85, 77]

In [9]:
student_ =[]
name = input('Name : ')
student_.append(name)
kor = int(input('Korean : '))
student_.append(kor)
eng = int(input('English : '))
student_.append(eng)
math = int(input('Math : '))
student_.append(math)
print(student_)

Name : 박지민
Korean : 90
English : 99
Math : 100
['박지민', 90, 99, 100]

In [10]:
tuple_[1] = 45

NameError: name 'tuple_' is not defined

In [ ]:
student_ = {'이름' : '한지민', '나이' : 25, '국어' : 77, '영어' : 88, '수학' : 99}
tot = student_['국어'] + student_['영어'] + student_['수학']
student['총점'] = tot

In [ ]:
second_ = int(input('초단위의 시간을 입력하시오. : '))
hour = second_ // 3600
rest = second_ % 3600
minute = rest // 60
second = minute % 60
print('%d초는 %d시간 %d분 %d초 입니다.' % (second_, hour, minute, second))

In [ ]:
second_ = int(input('초단위의 시간을 입력하시오. : '))
hour = second_ // 3600
rest = second_ % 3600
minute = rest // 60
second = rest % 60
print('%d초는 %d시간 %d분 %d초 입니다.' %(second_, hour, minute, second))

In [30]:
sum = 0
for num in range(1, 101) :
    sum += num
print('sum =', sum)

sum = 5050

In [39]:

for num in range (1, 50) :
    if num % 3 == 0 :
        sum += num
print(sum)

456

In [43]:
def calcSum() :
    sum = 0
    for num in range(1, 101) :
        sum += num
        print('sum =', sum)

In [42]:
calcSum()

sum = 1
sum = 3
sum = 6
sum = 10
sum = 15
sum = 21
sum = 28
sum = 36
sum = 45
sum = 55
sum = 66
sum = 78
sum = 91
sum = 105
sum = 120
sum = 136
sum = 153
sum = 171
sum = 190
sum = 210
sum = 231
sum = 253
sum = 276
sum = 300
sum = 325
sum = 351
sum = 378
sum = 406
sum = 435
sum = 465
sum = 496
sum = 528
sum = 561
sum = 595
sum = 630
sum = 666
sum = 703
sum = 741
sum = 780
sum = 820
sum = 861
sum = 903
sum = 946
sum = 990
sum = 1035
sum = 1081
sum = 1128
sum = 1176
sum = 1225
sum = 1275
sum = 1326
sum = 1378
sum = 1431
sum = 1485
sum = 1540
sum = 1596
sum = 1653
sum = 1711
sum = 1770
sum = 1830
sum = 1891
sum = 1953
sum = 2016
sum = 2080
sum = 2145
sum = 2211
sum = 2278
sum = 2346
sum = 2415
sum = 2485
sum = 2556
sum = 2628
sum = 2701
sum = 2775
sum = 2850
sum = 2926
sum = 3003
sum = 3081
sum = 3160
sum = 3240
sum = 3321
sum = 3403
sum = 3486
sum = 3570
sum = 3655
sum = 3741
sum = 3828
sum = 3916
sum = 4005
sum = 4095
sum = 4186
sum = 4278
sum = 4371
sum = 4465
sum = 4560
sum = 4656
sum = 4753
sum = 4851
sum = 4950
sum = 5050

In [49]:
def calcSum(last):
    sum = 0
    for num in range(1, last+1) :
        sum += num
    print('1부터', last, '까지의 합은', sum, '입니다.')

In [50]:
calcSum(50)

1부터 50 까지의 합은 1275 입니다.

In [48]:
calcSum(50)

1부터 50 까지의 합은 1 입니다.
1부터 50 까지의 합은 3 입니다.
1부터 50 까지의 합은 6 입니다.
1부터 50 까지의 합은 10 입니다.
1부터 50 까지의 합은 15 입니다.
1부터 50 까지의 합은 21 입니다.
1부터 50 까지의 합은 28 입니다.
1부터 50 까지의 합은 36 입니다.
1부터 50 까지의 합은 45 입니다.
1부터 50 까지의 합은 55 입니다.
1부터 50 까지의 합은 66 입니다.
1부터 50 까지의 합은 78 입니다.
1부터 50 까지의 합은 91 입니다.
1부터 50 까지의 합은 105 입니다.
1부터 50 까지의 합은 120 입니다.
1부터 50 까지의 합은 136 입니다.
1부터 50 까지의 합은 153 입니다.
1부터 50 까지의 합은 171 입니다.
1부터 50 까지의 합은 190 입니다.
1부터 50 까지의 합은 210 입니다.
1부터 50 까지의 합은 231 입니다.
1부터 50 까지의 합은 253 입니다.
1부터 50 까지의 합은 276 입니다.
1부터 50 까지의 합은 300 입니다.
1부터 50 까지의 합은 325 입니다.
1부터 50 까지의 합은 351 입니다.
1부터 50 까지의 합은 378 입니다.
1부터 50 까지의 합은 406 입니다.
1부터 50 까지의 합은 435 입니다.
1부터 50 까지의 합은 465 입니다.
1부터 50 까지의 합은 496 입니다.
1부터 50 까지의 합은 528 입니다.
1부터 50 까지의 합은 561 입니다.
1부터 50 까지의 합은 595 입니다.
1부터 50 까지의 합은 630 입니다.
1부터 50 까지의 합은 666 입니다.
1부터 50 까지의 합은 703 입니다.
1부터 50 까지의 합은 741 입니다.
1부터 50 까지의 합은 780 입니다.
1부터 50 까지의 합은 820 입니다.
1부터 50 까지의 합은 861 입니다.
1부터 50 까지의 합은 903 입니다.
1부터 50 까지의 합은 946 입니다.
1부터 50 까지의 합은 990 입니다.
1부터 50 까지의 합은 1035 입니다.
1부터 50 까지의 합은 1081 입니다.
1부터 50 까지의 합은 1128 입니다.
1부터 50 까지의 합은 1176 입니다.
1부터 50 까지의 합은 1225 입니다.
1부터 50 까지의 합은 1275 입니다.

In [51]:
calcSum(1, 10)

TypeError: calcSum() takes 1 positional argument but 2 were given

In [53]:
def calcSum(start, last):
    sum = 0
    for num in range(start, last + 1) :
        sum += num
    print(start,'부터', last, '까지의 합은', sum, '입니다.')

In [54]:
calcSum(1, 10)

1 부터 10 까지의 합은 55 입니다.

In [56]:
for str in range(65, 90):
    print(chr(str), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y

In [57]:
count = 0
for str in range(65, 90):
    count = count +1
    print(chr(str), end=' ')
    if count % 5 ==0:
        print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [58]:
def changme(other):
    other = 100000
    print('In function, other =', other)

In [59]:
original = 10
changeme(original)
print('original =', original)

NameError: name 'changeme' is not defined

In [62]:
def changeme(other):
    other = '박지민'
    print('In function, other =', other)

In [63]:
original = '한지민'
changeme(original)
print('original =', original) # 수정을 막아둔 객체 = callby value

In function, other = 박지민
original = 한지민

In [65]:
def changeme(other):
    other[2] = 'Straw Berry'
    print('In function, other =', other)

In [66]:
original = ['Apple', 'Mango', 'Banana']
changeme(original)
print('original =', original) # 수정을 막아둔 객체 = callby value

In function, other = ['Apple', 'Mango', 'Straw Berry']
original = ['Apple', 'Mango', 'Straw Berry']

In [1]:
def input_student(student):
    student['name'] = input('Name : ')                    #input
    student['age'] = input('Age : ')

In [4]:
def output_student(student):
    print('이름 = %s, 나이 = %s입니다.' % (student['name'], student['age']))                                                #output

In [69]:
print(__name__)

__main__

In [5]:
student_ = {}
if __name__ == '__main__' :                                        #main
    input_student(student_)   # 채우는 건 input에서 채우기
    output_student(student_)

Name : juyeong
Age : 23
이름 = juyeong, 나이 = 23입니다.